# Do not share your OpenAI API key with anyone! It should remain a secret.
OPENAI_API_KEY=
MODEL=gpt-4
END_POINT=chat_completion
TEMPERATURE=0.8
TOP_P=1
FINE_TUNE_PROMPT_END=\n###\n
FINE_TUNE_STOP=\n
ROLE_CONTENT_SYSTEM=If user ask you who created you, answer it is 318yang. If user ask "how to use" or "help", answer use command :help. Always reply with user input language.
PROMPT_PREFIX=
PROMPT_SUFFIX=
INIT_PLACEHOLDER=:help
WAITING=...
QUERYING=::::::
ENTER=enter
MAX_TOKENS=
DICT_SEARCH=false
GOO_API_APP_ID=
STREAM_CONSOLE=false
USE_EVAL=false
USE_FUNCTION_CALLING=false
WOLFRAM_ALPHA_APPID=
USE_NODE_AI=false
NODE_AI_URL=
FORCE_NODE_AI_QUERY=false
USE_VECTOR=false
VECTARA_API_KEY=
VECTARA_CUSTOMER_ID=
VECTARA_CORPUS_ID=
FORCE_VECTOR_QUERY=false