# Do not share your OpenAI API key with anyone! It should remain a secret.
NODE_ENV=development
NEXT_PUBLIC_BASE_URL=http://localhost:3000
ROOT_PASS=
OPENAI_BASE_URL=https://api.openai.com/v1/
OPENAI_API_KEY=
MODEL=
MODEL_V=
TEMPERATURE=1
TOP_P=1
ROLE_CONTENT_SYSTEM=
WELCOME_MESSAGE=
NEXT_PUBLIC_DISCORD=sRcj4HZyzU
NEXT_PUBLIC_YOUTUBE=@SimpleAIChat
INIT_PLACEHOLDER=:help
WAITING=
QUERYING=Querying...
GENERATING=Generating...
SEARCHING=Searching...
ENTER=
USE_FUNCTION_CALLING=true
WOLFRAM_ALPHA_APPID=
USE_NODE_AI=true
USE_USER_ACCOUNTS=true
DB=sqlite
JWT_SECRET=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
USE_ACCESS_CONTROL=false
USE_PAYMENT=false
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
SAME_SITE_COOKIE=
USE_EMAIL=false
NEXT_PUBLIC_ROLE_USAGE_LIMIT="user:540,3780,16740;pro_user:2880,20160,89280;super_user:4320,30240,133920;"
NEXT_PUBLIC_ROLE_AMOUNT="user:0;pro_user:5;super_user:20;"
HUNTER_API_KEY=
GOOGLE_API_KEY=
MINIMALIST=false
IPINFO_TOKEN=
VECTARA_API_KEY=
VECTARA_CUSTOMER_ID=
VECTARA_CLIENT_ID=
VECTARA_CLIENT_SECRET=
DOCUMENT_CORPUS_ID=
DEFAULT_FUNCTIONS=get_time,get_weather,redirect_to_url
DEFAULT_ROLE=
DEFAULT_STORES=
DEFAULT_NODE=