.main {
  font-size: 16px;
  font-family: "Fira Mono", "Fira Code VF", "ColfaxAI", Helvetica, sans-serif;
  line-height: 24px;
  color: #353740;
  overflow-x: hidden;  /* prevent horizontal scroll */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.main .front,
.main .back {
  flex-direction: column;
  width: 100%;
}

/* input area */
.main .inputform {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: transparent;  /* input area background color */
  padding: 10px;
  z-index: 10;  /* ensure it's always on top */
  box-sizing: border-box;
  display: flex;  /* use flexbox to align the input and button */
  align-items: center;  /* vertically center the items */
}
.main .input {
  height: 45px;
  overflow-y: auto;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  outline: 0;
  outline-color: #adadad;
  padding-right: 70px;  /* make space for the button */
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  box-shadow: 0.21875rem 0.21875rem 0.875rem var(--border-shadow-color);
  background-color: var(--background-color);
  color: var(--text-color);
}
.main ::placeholder {
  color: var(--placeholder-color);
  opacity: 1;
}
.main .submit {
  font-size: 14px;
  position: absolute;
  right: 22px;  /* adjust as needed */
  top: 50%;
  transform: translateY(-50%);  /* vertically center the button */
  background-color: var(--button-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding-left: 3px;
  padding-right: 3px;
}
.main .submit:hover {
  background-color: var(--button-hover-color);  /* darken the button color on hover */
}

/* output area */
.main .wrapper {
  width: 100%;
  height: calc(100vh - var(--input-height) - 15px);
  padding: 10px;
  padding-top: 12px;
  overflow-y: auto;
}
.main .output {
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  white-space: pre-wrap;
  color: var(--text-color);
}
.main .evaluation,
.main .stats,
.main .info {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: normal;
  font-size: 12px;
  user-select: none;
}
.main .evaluation {
  color: var(--stats-text-color);
  text-align: left;
}
.main .stats {
  margin-bottom: 30px;
  color: var(--stats-text-color);;
  text-align: left;
}
.main .info {
  color: var(--info-text-color);;
  text-align: right;
}

/* back */
.main .dot {
  display: block;
  font-size: 22px;
  text-align: center;
  position: fixed;
  top: 5px;
  right: 5px;
  width: 15px;
  color: var(--dot-color);
}
.main .dot:hover {
  cursor: pointer;
  color: var(--dot-hover-color);
}
.main .container {
  background-color: var(--container-background-color);
  width: 100%;
  padding: 10px;
  padding-top: 15px;
  overflow-y: auto;
}
.main .privacy {
  color: var(--text-color);
}
.main .copyrights {
  color: var(--sub-text-color);
}

/* Styles for differnt window sizes */
@media screen and (max-width: 649px) {
  .main .submit {
    visibility: hidden;
  }
  .main .input {
    padding-right: 10px;
  }
}
@media screen and (min-width: 650px) and (max-width: 800px) {
  
}
@media screen and (min-width: 801px) {
  
}
