.main {
  font-size: 16px;
  font-family: "Fira Mono", "Fira Code VF", "ColfaxAI", Helvetica, sans-serif;
  line-height: 24px;
  color: #353740;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* container */
.main .front,
.main .back {
  flex-direction: column;
  width: 100%;
  max-width: 625px;
}

/* input area */
.main .inputform {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 625px;
  background-color: transparent;  /* input area background color */
}
.main .input {
  height: 45px;
  padding: 10px 14px;
  margin-bottom: 24px;
  outline: 0;
  outline-color: #adadad;
  box-shadow: none;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  box-shadow: 0.21875rem 0.21875rem 0.875rem var(--border-shadow-color);
  background-color: var(--background-color);
  color: var(--text-color);
}
.main ::placeholder {
  color: var(--placeholder-color);
  opacity: 1;
}
.main .submit {
  padding: 12px 0;
  color: var(--button-text-color);
  background-color: var(--button-color);
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  display: none;
}

/* output area */
.main .wrapper {
  padding: 10px;
  width: 100%;
  height: 100%;
}
.main .output {
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 4px;
  margin-right: 4px;
  white-space: pre-wrap;
  color: var(--text-color);
}
.main .evaluation,
.main .stats,
.main .info {
  margin-left: 4px;
  margin-right: 4px;
  font-weight: normal;
  font-size: 12px;
  user-select: none;
}
.main .evaluation {
  text-align: left;
  color: var(--stats-text-color);
}
.main .stats {
  text-align: left;
  color: var(--stats-text-color);
  margin-bottom: 30px;
}
.main .info {
  text-align: right;
  color: var(--info-text-color);
}

/* back */
.main .dot {
  display: block;
  font-size: 20px;
  text-align: center;
  position: fixed;
  bottom: 5px;
  right: 10px;
  width: 15px;
  color: var(--dot-color);
}
.main .dot:hover {
  cursor: pointer;
  color: var(--dot-hover-color);
}
.main .container {
  background-color: var(--container-background-color);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
}
.main .privacy {
  color: var(--text-color);
}
.main .copyrights {
  color: var(--sub-text-color);
}

/* Styles for differnt window sizes */
@media screen and (max-width: 649px) {
  .main {
    padding: 8px;
  }
}
@media screen and (min-width: 650px) and (max-width: 800px) {
  .main {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 801px) {
  .main {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}