@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "Fira Code VF", "ColfaxAI", Helvetica, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.main form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #f7f7f7;
  padding: 10px;
  z-index: 10; /* Ensure it's always on top */
  box-sizing: border-box;
}
.main input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  outline: 0;
  outline-color: #adadad;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #3b3b3b;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.main .wrapper {
  width: 100%;
  margin-bottom: 60px;
  height: calc(100% - 60px);
  overflow-y: scroll;
  padding: 10px;
}
.main .output {
  font-weight: normal;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  white-space: pre-wrap;
}
.main .evaluation {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: normal;
  font-size: 12px;
  color: #767676;
  text-align: left;
}
.main .stats {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 30px;
  color: #767676;
  text-align: left;
}
.main .info {
  position: fixed;
  bottom: 67px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: normal;
  font-size: 12px;
  color: #cccccc;
  text-align: right;
}
