@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
body {
  background-color: var(--background-color);
}
code {
  background: var(--code-block-background-color);
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: .1rem .4rem .1rem;
  border-radius: .4rem;
  font-family: "Fira Code", monospace;
  font-size: 94%;
}
pre {
  background: var(--code-block-background-color);
  border-radius: .5rem;
  padding: .5rem;
  overflow-x: auto;
  font-family: "Fira Code", monospace;
  font-size: 94%;
  margin: 0px;
}