@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
@import url(https://code.cdn.mozilla.net/fonts/fira.css);
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: var(--background-color);
}
code {
  font-family: "Fira Code", monospace !important;
  scrollbar-width: none;  /* For Firefox */
}
::-webkit-scrollbar {
  display: none;  /* For Chrome, Safari, and Opera */
}

/* Inline code */
.inline-code {
  font-size: 14px !important;
  color: var(--inline-code-text-color);
  background: var(--inline-code-background-color);
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: .1rem .0rem .1rem;
  border-radius: .4rem;
}

/* Code block */
pre {
  background: var(--code-block-background-color) !important;
  border-radius: .5rem;
  overflow-x: auto;
  padding: .6rem;  /* actual padding */
}
.code-block {
  font-size: 14px !important;
  color: var(--code-block-text-color) !important;
  background: transparent !important;
  padding: .0rem !important;  /* override the highlight.js padding */
  display: block;
  overflow-x: auto;
}

/* Hide the scroll bar */
pre, textarea {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
pre::-webkit-scrollbar, textarea::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

strong {
  background: var(--strong-text-background-color);
  font-weight: normal !important;
  padding: .2rem .0rem .2rem;
  border-radius: .3rem;
}
u {
  background: var(--underline-text-background-color);
  color: var(--underline-text-color);
  text-decoration: underline !important;
  padding: .2rem .0rem .2rem;
  border-radius: .3rem;
  font-size: 15px !important;
}
u:hover {
  background: var(--underline-text-hover-background-color);
  text-decoration: none !important;
}
a {
  color: var(--text-color);
  text-decoration: none;
}

.table-container {
  overflow-x: auto;
}
table {
  width: 100%;
}
th, td {
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1.5px solid var(--table-border-color);
}
th {
  font-weight: normal;
}

.progressbar {
  width: 100%;
  height: 20px;
  background-color: var(--progressbar-background-color);
  border-radius: 1px;
}
.progressbar-fill {
  height: 100%;
  background-color: var(--progressbar-fill-background-color);
  border-radius: 1px;
}

button {
  padding: 3px 5px 3px 5px !important;
  border: 1.5px solid var(--button-border-color);
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background-color: var(--button-hover-background-color);
}

input {
  background-color: transparent !important;
  border: 1.5px solid var(--input-border-color) !important;
  border-radius: 6px;
}
input:focus {
  outline: none;
}

/* Awosome YouTube container */
.youtube-video {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
}
.youtube-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation: fadeIn 1s ease-in-out;
  -webkit-animation: fadeIn 1s ease-in-out;
  -moz-animation: fadeIn 1s ease-in-out;
  -o-animation: fadeIn 1s ease-in-out;
  -ms-animation: fadeIn 1s ease-in-out;
}
